<tarea id="1">
	<serie items="5 2 3 4 5"/>
    <objeto id="2" R="45" E="1.5" />
	<objeto id="3" R="45" E="1.5" />
	<objeto id="4" T="1" R="40" E="0.8"/>
	<objeto id="5" T="1" R="70" E=".7"/>
    <objeto id="5" T="1"/>
	<audio_recompensa file="Correct"/>
    <audio_incorreto file="Incorrect"/>
    <margenes_error_aceptados T="30" R="25" E="0.2"/>
</tarea>