<tarea id="1">
	<serie items="1 3 5"/>
	<objeto id="1" E="1.5"/>
	<objeto id="3" R="45" E="1.5" />
	<objeto id="1" E="1" R="-45"/>
	<objeto id="1" T="1" R="90"/>
	<objeto id="5" T="1" R="180"/>
    <objeto id="5" T="1"/>
	<audio_recompensa file="Correct"/>
    <audio_incorreto file="Incorrect"/>
    <margenes_error_aceptados T="30" R="25" E="0.2"/>
</tarea>