<!-- Se considera como incorrecto un tema vacio (sin tareas) -->

<usuario id="35" name="Javier">
    
    <tema id="0" name="inicio">
        <tarea id="Bomberos 1" />
        <tarea id="Bomberos 2" />
    </tema>

    <tema id="1" name="avanzado">
        <tarea id="Bomberos 3" />
        <tarea id="Bomberos 4" />
    </tema>

</usuario>